.jumbotron {
    text-align: center;
    background: rgb(189, 255, 255);
}

.display-4 {
    text-align: center;
}

.col-6 {
    margin-bottom: 40px;
}

span {
    padding: 10px;
}
#timer {
    font-size: 24px;
    text-align: center;
    color: red;
    /* border: solid rgb(192, 145, 237) 1px; */
    margin-bottom: 20px;
    
}

.radio {
    margin-right: 10px;
}
#final-page {
    background: rgb(179, 255, 255);
    text-align: center;
    padding: 20px;
}

#restart-button {
    margin: 10px;
}